@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

:root{
    --fonte001: "Playwrite NZ Basic", cursive;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: lightgrey;
}
 
div.imagem{
    background-color: lightgrey;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.185);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    

}

div#img01{
    background-image: url(../imagens/fotodeperfil.png);
    background-position: center center;

}

h1{
    padding: 15px;
    text-align: center;
}

h2{
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
}

p{
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

main{
    min-width: 100px;
    max-width: 400px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

article > p{
    font-family: 'Courier New', Courier, monospace
}

article >img{
    max-width: 400px;
}

nav{
    background-color: rgba(26, 25, 25, 0.534);
    padding: 10px;
    text-align: center;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.26);
    border-radius: 0px 0px 15px 15px;
    
}

nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

a#pagina{
    background-color: black;
}

#bottom{
    
}
.btn-produtos{
    max-width: 25vw;
    width: 25vw;
    height: 5vh;
    margin: auto;
    border: none;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: rgba(26, 25, 25, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

footer{
    background-color: rgba(26, 25, 25, 0.534);
    color: white;
    text-align: center;
}